.contact {
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: var(--grey);
}

.contact h2::before {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--blue);
  margin: 10px 10px;
}