.contact {
  text-align: center;
}

.contact h2::before {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--blue);
  margin: 10px 10px;
}

.large-contact-bar a {
  margin: 20px;
  border-radius: 50%;
}

.large-contact-bar img {
  max-width: 10%;
}