footer {
  bottom: 0;
  font-size: 1.5rem;
}

#contact-bar {
  display: flex;
  justify-content: center;
}

#contact-bar a {
  margin: 10px;
  border-radius: 50%;
}

#contact-bar img {
  height: 45px;
  width: 45px;
}