/* Custom global styling */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Karla:wght@500&family=Spectral:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  font-size: 62.5%;
  --font-main: 'Spectral', serif;
  --font-code: 'Inconsolata', monospace;
  --blue: #1233ff;
  --orange: #ff6d00;
  --grey: rgb(85, 85, 85);
}

/* Custom font styling */
body {
  color: var(--grey);
  text-align: center;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  padding: 5% 10%;
}

main {
  text-align: left;
}

h1, 
h2, 
h3,
h4,
.active {
  font-weight: 700;
  color: var(--blue);
}

h1, 
h2, 
h3, 
h4, 
p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--blue);
  margin: 10px 10px;
}

h3 {
  font-size: 2rem;
}

hr {
  width: 75%;
}

a, 
.nav-link {
  text-decoration: none;
  color: var(--blue);
}

a:hover,
.nav-link:hover,
h1:hover {
  color: var(--orange);
}

.nav-link:focus {
  color: var(--blue)
}

.card {
  min-width: 25vw;
  max-width: 80vw;
  height: auto;
}

.formatted-list {
  padding-left: 20px;
  list-style-type: disc;
  list-style-position: outside;
}

.btn-primary {
  font-size: 1.8rem;
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-primary:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.form-control {
  font-size: 1.8rem;
}